fins-core/fins-core-xml-schema/src/main/resources/repo.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:next:repo"
           xmlns="urn:next:repo"
           elementFormDefault="qualified">
    <xs:element name="repo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:string"/>
                <xs:element name="description" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="version" type="xs:int" />
        </xs:complexType>
    </xs:element>
</xs:schema>